//colors
$White: hsl(0, 0%, 100%);
$Light-gray: hsl(212, 45%, 89%);
$Grayish-blue: hsl(220, 15%, 55%);
$Dark-blue: #16129f;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
$primary:#557dff;
$chat-blue:#3f51b59c; //#3f58b5
$chat-light:#ddddf7;
$dark-chat:#2f2d52;
$dark-med-blue:#5d5b8d;//#e179fe;//#00d746


